.header {
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
}
.header-title {
  text-shadow: 0 0 2px white;
}
.header-actions {
  display: flex;
  gap: 0.3rem;
  position: absolute;
  right: 1.2rem;
  top: 1.2rem;
}
.header-actions > div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: rgba(200, 200, 200, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 5px;
}
.header-actions > div:hover {
  background-color: rgba(200, 200, 200, 0.6);
}
