.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}

.header {
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
}
.header-title {
  text-shadow: 0 0 2px white;
}
.header-actions {
  display: flex;
  gap: 0.3rem;
  position: absolute;
  right: 1.2rem;
  top: 1.2rem
}
.header-actions > div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: rgba(200,200,200,0.3);
  backdrop-filter: blur(5px);
  border-radius: 5px;
}
.header-actions > div:hover {
  background-color: rgba(200,200,200,0.6);
}

.goals {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: auto;
  flex: 1 1 auto;
  padding-bottom: 5rem;
  mask: linear-gradient(0deg, rgba(0,0,0,0) 3rem, rgba(0,0,0,1) 6rem, rgba(0,0,0,1) calc(100% - 0.5rem), rgba(0,0,0,0) 100%);
  mask-repeat: no-repeat;
}
.goals::-webkit-scrollbar {
  display: none;
}

.goal-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.painted-box {
  background-color: rgba(255, 255, 255, 0.66);
  background-clip: padding-box;
  border-width: 10px 50px;
  border-image-source: url('./borders_r_66opacity.png');
  border-image-slice: 18 130 17 137 fill;
  border-image-width: 10px 50px 10px 50px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: round round;
  border-style: solid;
  padding: 0.1rem 0.5rem;
}

.wins {
  color: darkgreen;
}
.losses {
  color: #500;
}