@font-face {
  font-family: Lato;
  src: url('Lato-Regular.ttf');
}
@font-face {
  font-family: Lato;
  font-weight: bold;
  src: url('Lato-Bold.ttf');
}

body {
  margin: 0;
  font-family: Lato, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none; /* revert with `user-select: text` where needed */
}
